.timeline-container {
  border-left: 4px solid gray;
  border-radius: 0 4px 4px 0;
  background: rgba(200, 200, 200, 0.15);
  margin: 2rem auto;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  margin-left: 7rem;
}

.timeline-entry {
  text-align: left;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.timeline-date {
  position: absolute;
  left: -10rem;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.7;
  min-width: 6rem;
  top: 2px;
}

.timeline-dot {
  position: absolute;
  box-shadow: 0 0 0 4px gray;
  left: -2.5rem;
  background: #444;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  top: 5px;
}
