global-mosaic
global-tms
stac-api
tilepack-api

uploader-api/app
uploader-api/chart
uploader-api/migrations
uploader-api/scripts
uploader-api/tests
uploader-api/pyproject.toml
uploader-api/uv.lock
uploader-api/compose.yaml
uploader-api/compose.override.yaml
uploader-api/migrate-entrypoint.sh

**/chart
**/*.tgz
**/*.dump

**/.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.coverage
**/*.egg-info
**/build
**/dist

**/*.tif
**/*.tiff
