{
  "version": 8,
  "sources": {
    "global-coverage": {
      "type": "vector",
      "url": "pmtiles:///tiles/global-coverage.pmtiles"
    }
  },
  "layers": [
    {
        "id": "global-coverage",
        "source": "global-coverage",
        "source-layer": "globalcoverage", 
        "minzoom": 0,
        "maxzoom": 15,
        "type": "fill",
        "paint": {
            "fill-color": "#ff0000",
            "fill-opacity": 0.5
        },
        "filter": ["==", ["geometry-type"], "Polygon"]
    }
  ]
}
