{
  "options": {
    "paths": {
      "root": "."
    }
  },
  "data": {
    "global-coverage": {
      "pmtiles": "/tiles/global-coverage.pmtiles"
    }
  },
  "styles": {
    "global-coverage": {
      "style": "style.json",
      "serve_rendered": true,
      "tilejson": {
        "bounds": [-180, -85, 180, 85]
      }
    }
  }
}
